

<div class='row' id='home'>
  <div id='background'>
    <h1 id='welcome-title' align='center'>Ticker Tracker</h1>
    <h3 style='color:white; width; 200px;'>SORRY! Portions of this site are under construction but please feel free to sign in and start tracking your stocks</h3>
  </div>
</div>
