<!-- <div class='container' id='everything' ng-controller='stocksCtrl'>
  <div class='row' id='stockStuff'>
    <div ng-controller='clockCtrl' id='clock'>
      {{ clock | date:'medium'}}
    </div>
    <div id='findSymbol' class='span2'>
        <input ui-select2='select2Options' ng-model='newCompany' data-placeholder='Search Company' ng-required='true' style='width: 200px'>
    </div>

    <div ng-show='loading' id='loading'>
      Loading...
    </div>

    <div ng-show='error'>
    </div>

    <div class='span9' id='tabinfo' ng-controller='tabsCtrl'>
      <ul class='nav nav-tabs' id='alltabs'>
        <li ng-repeat='tab in tabs' ng-class='{ active:isActiveTab(tab.url)}' ng-click='onClickTab(tab)' id='tabs' role='presentation'>
          <a>{{ tab.title }}</a>
        </li>
      </ul>
      <div id='mainView'>
        <div ng-include='currentTab'></div>
      </div>
    </div> -->

      <!-- Tab One -->
     <!--  <script type='text/ng-template' id='one.tpl.html'>
        <div id='viewOne'>
          <h1>My Profile</h1>
          <h2>Welcome, <strong><%= current_user.name%></strong>!</h2>
          <p>User profile stuff goes here</p>
        </div>
      </script> -->

      <!-- Tab Two -->
     <!--  <script type='text/ng-template' id='two.tpl.html'>
        <div id='viewTwo'>
          <h1 id='tab1'>My Stocks</h1>
          <ul>
            <div class='input-group'>
              <input type='text' class='form-control' ng-model='search' placeholder='Filter Your Stocks'>
            </div>
            <table class='table table-striped'>
              <tbody>
                <tr ng-repeat='stock in stocks | filter:search' id='stockList' ng-class="{danger: (stock.change < 0), success: (stock.change > 0)}">
                  <td>
                    <h3>{{ stock.symbol }}<small>({{ stock.name }})</small></h3>
                    <strong>Open:</strong> {{ stock.open | currency }}</br>
                    <strong>Previous Close:</strong> {{ stock.previous_close | currency}}</br>
                    <strong>Close:</strong> {{ stock.close }}</br>
                    <strong>Bid:</strong> {{ stock.bid | currency }} </br>
                    <strong>Ask:</strong> {{ stock.ask | currency }} <br/>
                    <strong>Change:</strong> {{ stock.change | currency }} <br/>
                    <strong>Percent Change:</strong> {{ stock.change_in_percent | percentage: 2 }} <br/>

                    <div id='links' class='btn-group btn-group' roll='group'>
                      <div class='btn-group' role='group'>
                        // <button type='button' class='btn btn-default' ng-click='updateStock(stock.id, $index)'>Update</button>
                        <md-button class='md-raised' ng-click='updateStock(stock.id, $index)'>Update</md-button>
                      </div>

                      <div class='btn-group' role='group'>
                        // <button type='button' class='btn btn-danger' ng-click='deleteStock(stock.id, $index)' id='delete'>Delete</button>
                        <md-button class='md-raised md-warn' ng-click='deleteStock(stock.id, $index)'>Delete</md-button>
                      </div>

                      <div class='btn-group' role='group'>
                        // <button type='button' class='btn btn-info' ng-click='showStockChart = !showStockChart' id='graph'>Graph</button>
                        <md-button class='md-raised' ng-click='showStockChart = !showStockChart'>Graph</md-button>
                      </div>
                    </div>

                    <div stock-chart stockid='stock.id' stocksymbol='stock.symbol' stockname='stock.name' ng-show='showStockChart' id='chart' style='padding-right: 30px; padding-left: 20px; padding-top: 15px;'>
                      <div id='loading_chart'>
                        Loading Chart...
                      </div>
                    </div>

                  </td>
                </tr>
              </tb>
            </table>
          </ul>
        </div>
      </script> -->

      <!-- Tab Three -->
<!--       <script type='text/ng-template' id='three.tpl.html'>
        <div id='viewThree'>
          <h1>Feed</h1>
          <p>News Feed Here</p>
        </div>
      </script>
  </div>
</div> -->




<div class='container' id='everything' ng-controller='stocksCtrl'>
  <div class='row' id='stockStuff'>
    <div ng-controller='clockCtrl' id='clock'>
      {{ clock | date:'medium'}}
    </div>

    <div id='searchSymbol'>
      <input ui-select2='select2Options' ng-model='newCompany' data-placeholder='Search Company' ng-require='true' style='width: 200px;'>
    </div>

    <div class='allStocks' ng-cloak>
      <md-content>
        <md-tabs class='md-dynamic-height md-border-bottom'>

          <md-tab label='Profile'>
            <md-content id='profileTab' class='md-padding'>
              <h1 class='md-display-2'>My Profile</h1>
              <h2>Welcome, <strong><%= current_user.name %></strong>!</h2>
              <p>User profile stuff goes here</p>
            </md-content>
          </md-tab>

          <md-tab label='My Stocks'>
            <md-content id='stockTab' class='md-padding'>
              <h1 class='md-display-2'>Stocks</h1>
                <table class='table table-striped'>
                  <tbody>
                    <tr ng-repeat='stock in stocks | filter:search' id='stockList' ng-class='{danger: (stock.change < 0), success: (stock.change > 0)}'>
                      <td>
                        <h3>{{ stock.symbol }}<small>({{ stock.name }})</small></h3>
                        <strong>Open:</strong> {{ stock.open | currency }}
                        <br>
                        <strong>Previous Close:</strong>{{ stock.previous_close | currency }}
                        <br>
                        <strong>Close:</strong>{{ stock.close }}
                        <br>
                        <strong>Bid:</strong>{{ stock.bid | currency }}
                        <br>
                        <strong>Ask:</strong>{{ stock.ask | currency }}
                        <br>
                        <strong>Change:</strong>{{ stock.change | currency }}
                        <br>
                        <strong>Percent Change:</strong>{{ stock.change_in_percent | percentage: 2 }}
                        <br>

                        <div id='stockBtns' class='btn-group' roll='group'>
                          <div class='btn-group' role='group'>
                            <md-button class='md-raised' ng-click='updateStock(stock.id, $index)'>Update</md-button>
                          </div>
                          <div class='btn-group' role='group'>
                            <md-button class='md-raised md-warn' ng-click='deleteStock(stock.id, $index)'>Delete</md-button>
                          </div>
                          <div class='btn-group' role='group'>
                            <md-button class='md-raised md-primary' ng-click='showStockChart = !showStockChart'>Graph</md-button>
                          </div>
                        </div>

                        <div stock-chart id='stockChart' stockid='stock.id' stocksymbol='stock.symbol' stockname='stock.name' ng-show='showStockChart' id='stockChart'>
                          <div id='loadingChart'>
                            Loading Chart...
                          </div>
                        </div>

                      </td>
                    </tr>
                  </tbody>
                </table>
            </md-content>
          </md-tab>

          <md-tab label='News Feed'>
            <md-content class='md-padding'>
              <h1 class='md-display-2'>Tab Three</h1>
              <p> test 3 </p>
            </md-content>
          </md-tab>

        </md-tabs>
      </md-content>
    </div>
  </div>
</div>
