<h1>MyWatchList#index</h1>
<p>Find me in app/views/my_watch_list/index.html.erb</p>

<div class='row' class='container'>
  <div ng-controller='stocksCtrl'>
    <div id='findSymbol' class='small-4 columns'>
      <form ng-submit='createStock()'>
        <input ui-select2='select2Options' ng-model='newCompany', placeholder='Search Companies', ng-required='true' id='companyForm' style='width:200px'>
        <input type='submit' value='Follow'>
      </form>
      {{ newCompany }}

      <div ng-show='loading' id='loading'>
        Loading...
      </div>

      <div ng-show='error'>
        There was an error reaching the API
      </div>

      <ul>
        <li ng-repeat='stock in stocks'>
          <strong>{{ stock.symbol }}</strong> {{ stock.name }} <br/>
          <strong>Bid:</strong> {{ stock.bid | currency }}<br/>
          <strong>Ask:</strong>{{ stock.ask | currency }}<br/>
          <strong>Change:</strong> {{ stock.change  }}<br/>
          <strong>Percent:</strong> {{ stock.change_in_percent }}<br/>
          <a href='' ng-click='updateStock(stock.id, $index)'>Update</a>
          <a href='' ng-click='deleteStock(stock.id, $index)' id='delete'>Delete</a>
        </li>
      </ul>
    </div>
  </div>
</div>
