<h1>MyWatchList#index</h1>
<p>Find me in app/views/my_watch_list/index.html.erb</p>

<div ng-controller='stocksCtrl'>

  <form ng-submit='createStock()'>
    <select ui-select2='select2Options' ng-model='newCompany', data-placeholder='Search Companies', ng-required='true'>
    <option value=''></option>
    <option ng-repeat='company in companyList' value=''></option>
    <input type='submit' value='Follow'>
  </form>
  {{ newCompany }}

  <div ng-show='error'>
    There was an error
  </div>

  <ul>
    <li ng-repeat='stock in stocks'>
      <strong>{{ stock.symbol }}</strong> {{ stock.name }} <br/>
      <strong>Bid:</strong><br/>
      <strong>Ask:</strong><br/>
      <strong>Change:</strong><br/>
      <strong>Percent:</strong><br/>
      <a href='' ng-click='deleteStock(stock.id, $index)'>Delete</a>
    </li>
  </ul>
</div>
