// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {

  body {

    #everything {

      #stockStuff {
        padding-left: 50px;

        #searchSymbol {

          div#select2-drop-mask.select2-drop-mask {
            width: 200px;
          }
        }

        .allStocks {

          md-content {

            md-tabs {

              #profileTab {
              }

              #stockTab {

                #stockChart {
                  padding-right: 30px;
                  padding-left: 20px;
                  padding-top: 15px;
                }

              }
            }
          }
        }
      }
    }
  }
}

