// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  width: 100%;
  body {
    overflow-x: hidden;

    #everything {
      margin-right: 20px;
      margin-left: 100px;

      div#stockStuff.row {
        margin-left: 10px;
      }

      #clock {
        color: #585858;
        position: relative;
        left: 30px;
        marign-bottom: 10px;
      }

      #findSymbol {
        padding-bottom: 20px;
      }
    }

    div.ng-scope {
      margin-right: 0px;

      h1 {
        position: relative;
        text-align: center;
      }
    }
  }
}

// #clock {
//   color: #585858;
//   position: relative;
//   left: 30px;
//   margin-bottom: 10px;
// }

// #everything {
//   margin-right: 20px;
//   margin-left: 100px;

//   #clock {
//     color: #585858;
//     position: relative;
//     left: 30px;
//     margin-bottom: 10px;
//   }

//   #findSymbol {
//     padding-bottom: 20px;
//   }
// }

.nav-pills {

}

// #tabs {
//   display: inline;
//   padding: 12px;
//   border: 1px solid black;
//   border-top-left-radius: 12px;
//   border-top-right-radius: 12px;
// }

// .active {
//   background-color: #7681d6;
//   color: #000;
//   border-bottom: none;
// }

// div.ng-scope {

//   margin-right: 0px;
//   h1 {
//     position: relative;
//     text-align: center;
//   }
// }

// #mainView {
//   ul {
//     list-style-type: none;
//   }
// }


