// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-btn-color: #00796B;
$secondary-btn-color: #ff5252;

html, body {

  body {

    #everything {
      margin-top: 25px;
      height: 100%;

      .secondary-btn {
        color: $primary-btn-color;
      }

      .flat-btn {
        color: $secondary-btn-color;
      }

      #searchSymbol {
      }

      #stockStuff {
        padding-left: 50px;
        max-widht: 1170px;

        .allStocks {

          md-content {

            md-tabs {

              #profileTab {
              }

              #stockTab {

                #stockChart {
                  padding-right: 30px;
                  padding-left: 20px;
                  padding-top: 15px;
                }

              }
            }
          }
        }
      }
    }
  }
}

