// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  body {
    // overflow: hidden;
  }

  div#home {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;

    div#background {
      background-image: url('wall-street.jpg');
      height: 100%;
      overflow: hidden;
    }

    h1#welcome-title {
      color: white;
      font-size: 70px;
      margin-top: 0px;
      padding-top: 120px;
      font-family: 'Poiret One', cursive;
    }
  }
}


